body {
    font-family: font;
    color: #f1ae31;
    background-image: linear-gradient(#000000, #000000);
}

.container {
    position: relative !important;
    padding: 0%;
}

@font-face {
    font-family: font;
    src: url(../fonts/Lora/static/Lora-Regular.ttf);
}

@font-face {
    font-family: font1;
    src: url(../fonts/Lora/static/Lora-Bold.ttf);
}

h1 {
    font-family: font1;
}

strong {
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.current {
    color: white !important;
    cursor: not-allowed;
    text-decoration: none !important;
}

a:visited {
    color: #ffffff;
    text-decoration: underline;
}

/******************** HEADER STARTS************/

/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131);
    border-radius: 20px;
}

::selection {
    background: rgba(42, 42, 42, 0.3);
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.current {
    text-decoration: underline #f1ae31 ;
}

.navbarzz {
    background-color: #17161B;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.navbarzz.sticky {
    color: #ffff;
    background: #17161B;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbarzz .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarzz .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #f1ae31;
    font-size: 24px;
    font-weight: 500;
    margin-left: 25px;
    
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #ffffff;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbarzz .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #17161B;
        transition: all 0.3s ease;
    }
    .navbarzz.show .menu-list {
        left: 0%;
    }
    .navbarzz .menu-list li {
        margin-top: 45px;
    }
    .navbarzz .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbarzz.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbarzz .logo a {
        font-size: 27px;
    }
}

/******************** HEADER eNDS************/

/* FRONT STARTS */

.carousel {
    margin-top: 0%;
    position: relative;
}

.carousel-indicators {
    z-index: 1;
}

.profile>img {
    border-radius: 20px !important;
}

.social {
    width: 100%;
}

.insta, .facebook {
    width: 100px;
    height: 140px;
    margin: 2% 4% 0% 8%;
}

.insta>img, .facebook>img {
    border-radius: 10px;
    min-width: 120px;
}

.flex {
    margin-top: 0%;
}

.heading>h1 {
    font-size: 42px;
}

/* FRONT ENDS  */

/* Services STARTS */

.services {
    margin-top: 200px;
}

.card {
    border-bottom: 7px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #f1ae31;
    background-color: #17161B;
}

.card:hover {
    border: 5px solid #f1ae31;
    background-color: #17161B;
}

.icon {
    background-color: #17161B;
}

/* location  start */

.location {
    margin-top: 200px;
}

/* blogs START  */

.newsh {
    text-align: center;
    margin-top: 200px;
}

.newsh>h2 {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline white;
    color: rgb(255, 255, 255);
    margin-bottom: 4%;
    font-family: font1;
}

.userContent>p {
    color: white !important;
}

.iframespost {
    display: flex;
    background-color: #6d6c74;
    padding: 20px;
    margin: 2%;
    width: 96%;
    min-width: 80%;
    border-radius: 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.iframespost::-webkit-scrollbar {
    width: 8px;
}

.iframespost::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
}

.iframespost::-webkit-scrollbar-thumb {
    background: rgb(194, 191, 191);
    border-radius: 20px;
}

.blogcard {
    z-index: 1;
    margin: 10px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

/* footer  */

footer {
    margin-top: 100px;
    padding-top: 20px;
    background-color: #17161B;
}

.footerhead {
    color: white;
    margin-top: 2%;
}

/* ****************************First Page ENDS************************** */
