body {
    font-family: font;
    color: #f1ae31;
   background-color: #17161B;
}

.container {
    position: relative !important;
    padding: 0%;
}

@font-face {
    font-family: font;
    src: url(../fonts/Lora/static/Lora-Regular.ttf);
}

@font-face {
    font-family: font1;
    src: url(../fonts/Lora/static/Lora-Bold.ttf);
}

h1 {
    font-family: font1;
}

 strong {
    color: white;
    font-weight: bold;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.current{
    color: white !important;
}
a:visited{
    color: #ffffff;
    text-decoration: underline;
}
.img{
    display: flex;
}
.img> img{
    justify-content: space-around;
    align-items: center;
 

}

