@media only screen and (max-width:400px){
    .logo>img {
        width: 140px;
        height: 50px;
        margin-left: 0px;
    }
    .blogcard >iframe{
        min-width: 340px;
        height: 800px;
    }
    .w-100 {
        width: 100%!important;
        margin-top: 70px;
    }
    .insta, .facebook {
        width: 110px;
        height: 110px;
        margin: 0% 0% 0% 2%;
    }
}


@media only screen and (max-width:350px){
    .logo>img {
        width: 120px;
        height: 40px;
        margin-left: 0px;
    }

}
