@media only screen and (max-width:1336px) {
    .logo>img {
        width: 200px;
        height: 60px;
        margin-left: 150px;
    }
}

@media only screen and (max-width:1024px) {
    .logo>img {
        width: 200px;
        height: 60px;
        margin-left: 150px;
    }
    .navbar-brand {
        padding-top: 0%;
    }
    .insta, .facebook {
        width: 120px;
        height: 120px;
        margin: 2% 2% 0% 2%;
    }
    .card {
        min-width: 220px;
        min-height: 200px;
    }
}

@media only screen and (max-width:1024px) {
    .collapse {
        margin-left: 16%;
        background: #17161B;
        border-radius: 30px;
        margin: 0px;
        width: 100%;
        padding: 10px;
        display: flex;
        margin-top: 1%;
        align-items: center;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .nav-item>.order {
        width: 170px !important;
        height: 50px !important;
        background-color: #f1ae31;
        margin-left: 0px !important;
        padding: 8px;
        margin-top: 0rem;
        color: black !important;
        text-shadow: none;
        text-transform: capitalize;
        text-decoration: none;
    }
}

@media only screen and (max-width:786px) {
    .socials{
        display: block;
        position: absolute;
        bottom: 10%;
        left: 42.5%;
    }
    .logo>img {
        width: 200px;
        height: 60px;
        margin-left: 150px;
    }
    .collapse {
        margin-left: 16%;
        background: #17161B;
        border-radius: 30px;
        margin: 0px;
        width: 100%;
        padding: 10px;
        display: flex;
        margin-top: 2%;
        align-items: center;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .nav-item>.order {
        width: 170px !important;
        height: 50px !important;
        background-color: #f1ae31;
        color: black !important;
        margin-left: 0px !important;
        margin-top: 0rem;
        text-shadow: none;
        text-transform: capitalize;
        text-decoration: none;
    }
    .order:hover {
        background-color: #17161B;
        color: #f1ae31 !important;
        text-shadow: none;
        border: 3px double #f1ae31;
        text-decoration: underline #000000;
    }
    .w-100 {
        width: 100%!important;
        margin-top: 70px;
    }
    .insta, .facebook {
        width: 150px;
        height: 150px;
        margin: 2% 2% 0% 2%;
    }
    .card {
        min-width: 220px;
        min-height: 200px;
    }
}

@media only screen and (max-width:490px) {
    .logo>img {
        width: 180px;
        height: 60px;
        margin-left: 50px;
    }
    .insta, .facebook {
        width: 110px;
        height: 110px;
        margin: 0% 4% 0% 4%;
    }
}
